spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-route
              uri: http://localhost:8080
              predicates:
                - Path=/auth/**
              filters:
                - RewritePath=/auth(?<segment>/?.*),/api/v1/auth${segment}
auth:
  service:
    url: http://localhost:8080
server:
  port: 7000
